<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ray's About Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Raymond Rees's About Page</h1>
        <img src="../resources/rayprofilepicsmaller.jpg"
             class="img-fluid" alt="Responsive image">
        <p>A Software Engineer with a love for the outdoors and music!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Coding</h3>
                <p>I love coding, I do it all the time!</p>
            </div>
            <div class="col-sm-4">
                <h3>Backpacking</h3>
                <p>Ahh, the great outdoors!</p>
            </div>
            <div class="col-sm-4">
                <h3>Music</h3>
                <p>I toot the musical horn from time to time</p>
            </div>
        </div>
    </div>
</body>
</html>